body{
    background-color: #F3F4F8;
}
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.album {  
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F3F4F8;
}

.card {  
    width: 100%; 
    max-width: 350px;    
    margin: 1rem auto;
    border: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;

}

.card.active {    
    box-shadow: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.8);
}

.card-text {  
    padding: .75rem;
}

.card img{
    max-width: 100%;
}

.no-item{
    text-align: center;
    padding: 100px 0px;
    font-size: 1.5em;
}

#tabControl{
    margin-bottom: 20px;
}
.nav{
    display: inline-block;
    float: right;
    border: 2px solid #5C607E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav-pills>li>a{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    color: #5C607E;
    padding: 10px 35px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #5C607E;
}

#photosControl{
    background-color: #4F587D;    
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    text-align: center;
    padding: 10px;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    min-width: 250px;
}
#photosControl.ng-hide{
    bottom: -200px;
}
#photosControl a{
    color: #ffffff;
    padding: 0 10px;
}


